@page "/map"

<div id='myMap' class='container-fluid' style='position:relative; width: 100%; height: 90vh;'></div>

@inject IJSRuntime JSRuntime

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender) {

        Console.WriteLine("Map.OnAfterRenderAsync()...");

        await JSRuntime.InvokeAsync<Task>("loadMap");

        var sitePin = new Pushpin() {
            color = "green",
            location = new Location(39.599320, -104.728870)
        };
        
        await JSRuntime.InvokeAsync<Task>("addPushpin", sitePin);
    }
}